<div class="container">
  <h3>
    Signup
  </h3>
  <hr>
  <form>
    <mat-form-field>
      <label>
        <input
          ngModel required email  name="email" #email="ngModel"
          matInput type="email" placeholder="Enter your name">
      </label>

      <mat-error *ngIf="email.hasError('required')"> Email  is required</mat-error>
      <mat-error *ngIf="!email.hasError('required')"> Email  is invalid</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field hintLabel="Only 8 character">

      <label>
        <input maxlength="8"
          required
               ngModel name="password" #password="ngModel"
               matInput [type]="flag? 'password': 'text'" placeholder="Enter your password">
      </label>
      <mat-icon (click)="flag=!flag" matSuffix>{{flag ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-hint align="start"></mat-hint>

    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>
